<!--
<a class="btn btn-success" routerLink="login"  role="button">Sign In</a>
<a class="btn btn-primary" routerLink="signup" role="button">Create an account</a> -->

<a class="btn btn-success" (click)="openDialog()" role="button">Sign In</a>
<a class="btn btn-primary"  role="button">Create an account</a>

<!--
<mat-tab-group>
    <mat-tab label="Sign In" [routerLink]="login">Sign In
    </mat-tab>
    <mat-tab label="Create an account" routerLink="signup">Create an account</mat-tab>
</mat-tab-group> -->




<router-outlet></router-outlet>