<h3>Please Log in</h3>
<div name="loginDiv">
    <div name="loginForm" *ngIf="!isUserLoggedIn">
        <form (ngSubmit)="login()">
            <label for="username">Username</label>
            <input name="username" type="text" [(ngModel)]="username">
            <br>
            <label for="password">Password</label>
            <input name="password" type="password" [(ngModel)]="password">
            <br>   
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
    </div>

    <div *ngIf="isUserLoggedIn">
        <h2>You logged in successfully </h2>
    </div>

</div>