<h3>Please Log in</h3>
<div name="loginDiv">
    <div name="loginForm" *ngIf="!isUserLoggedIn" >
        <form (ngSubmit)="login()" [formGroup]="loginForm">
            <label for="username">Username</label>
             <input name="username" type="text" formControlName="userName">
            <br>
            <label for="password">Password</label>
            <input name="password" type="password" formControlName="passWord">
            <br>   
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
    </div>

    <div *ngIf="isUserLoggedIn">
        <h2>You logged in successfully </h2>
    </div>
</div>
