<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h4 class="text-white">Axis HR Management</h4>
      <span id="muteTitleDisplay" class="text-muted">Home</span>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Axis</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab"  routerLink='' data-placement="bottom" title="Home page" >Home <span class="sr-only ">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" routerLink="payroll" data-placement="bottom" title="Go to Payroll">PayRoll</a>
          </li>
    
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" routerLink="profile">Profile</a>
          </li>
    
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" routerLink="career">Career</a>
          </li>
    
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="tab" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sign In | Register
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div name="noSessionDiv" *ngIf="!isUserOnline(); else sessionActiveDiv">
                  <a class="dropdown-item" routerLink="logReg">login | register</a>
              </div>

              <ng-template #sessionActiveDiv>
                  <a class="dropdown-item" routerLink="timesheet">Timesheet</a>
                  <a class="dropdown-item" routerLink="addNewUser">Register new user</a>
                  <a class="dropdown-item" (click)="logout()" routerLink="logReg">logout</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
              </ng-template>
            
            </div>
          </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

  </div>

  
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>

<router-outlet></router-outlet>
  